# Node / Package Managers
node_modules/
package-lock.json
yarn.lock
pnpm-lock.yaml
bun.lockb

# Build outputs
dist/
dist-ssr/
*.tsbuildinfo

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Environment variables (Local secrets)
.env
*.local
.env.*.local

# IDEs / Editors
.vscode/
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store

# Custom domain exclusions
src/commons/interfaces.ts
